.carousel_main_promotion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 250px;
    border: 1px solid black;
    border-radius: 16px;
    position: fixed;
    top: 150px;
}

.carousel_main_promotion_picture{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-sizing: border-box;
    object-fit: cover;
    position: relative;
}

.carousel_main_promotion_picture:hover{
    cursor: pointer;
    transition: 0.3s;   
    filter: brightness(85%);
}

.carousel_main_promotion_button{
    padding: 12px;
}

.carousel_main_promotion_button_prev {
    z-index: 100;
    width: 23px;
    height: 23px;
    position: relative;
    left: 170%;
    border-radius: 100%;
    background-color: white;
    padding: 10px;
    filter: opacity(75%);
}

.carousel_main_promotion_button_prev:hover,.carousel_main_promotion_button_next:hover{
    cursor: pointer;
    transition: 0.3s;
    filter: opacity(100%);
}
.carousel_main_promotion_button_next{
    z-index: 100;
    width: 23px;
    height: 23px;
    position: relative;
    right: 170%;
    border-radius: 100%;
    background-color: white;
    padding: 10px;
    filter: opacity(75%);
}

.carousel_main_promotion_button_next:hover{
    cursor: pointer;
    transition: 0.3s;
    filter: opacity(100%);
}