.header_box{
    margin-top: -120px;
    height: 150px;
    padding-right: 20%;
    padding-left: 20%;
    position: static;
    z-index: 5;
    flex: 0 0 auto;
    background: linear-gradient(90deg, rgba(51,204,204,1) 0%, rgba(28,97,159,1) 46%, rgba(9,9,121,1) 80%, rgba(7,0,124,1) 100%);
}

.header_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 200;
    padding: 0 32px;
    width: 100%;
    max-width: 1600px !important;
    margin-top: 60px;
}

.header_header_left{
    display: flex;
}

#header_header_left_marketplace_name{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

#header_header_left_catalog{
    border-color: white;
    border-radius: 12px;
    font-size: 15px;
    width: 120px;
    cursor: pointer;
    padding: 10px 16px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(../images/catalog-removebg-preview.png);
    background-color: transparent;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 4%;
}

#header_header_left_catalog div {
    display: flex;
    text-align: end;
    align-items: end;
    justify-content: end;
    padding-left: 80px;
    color: white;
}

.header_search_form {
    display: flex;
    align-items: center;
    
}

.header_search_input {
    padding: 13px;
    font-size: 20px;
    margin-right: 10px;
    padding-top: 10px;
    border-radius: 10px;
    font-family: inherit;
    width: 600px;
}



.header_search_button {
    padding: 2% 7%;
    font-size: 100%;
    cursor: pointer;
    background-color: #33CCCC;
    color:white;
    border-radius: 7px;
    border: none;
}

.header_header_right{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
}

#header_header_right_items_with_icons{
    flex-direction: column;
    text-align: center;
}