.header_box{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.header_header{
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 120px;
    background: linear-gradient(90deg, rgba(51,204,204,1) 0%, rgba(28,97,159,1) 46%, rgba(9,9,121,1) 80%, rgba(7,0,124,1) 100%);
    box-sizing: border-box;
}

.header_header_left{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_header_left_marketplace_name{
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px;
}

#header_header_left_catalog{
    border-color: white;
    border-radius: 12px;
    font-size: 15px;
    width: 120px;
    cursor: pointer;
    padding: 10px 16px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(../images/catalog-removebg-preview.png);
    background-color: transparent;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 4%;
}

#header_header_left_catalog div {
    display: flex;
    text-align: end;
    align-items: end;
    justify-content: end;
    padding-left: 80px;
    color: white;
}

.header_search_form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_search_input {
    justify-content: center;
    padding: 13px;
    font-size: 20px;
    margin-right: 10px;
    padding-top: 10px;
    border-radius: 10px;
    font-family: inherit;
    width: 600px;
}

.header_search_button {
    justify-content: center;
    padding: 2% 7%;
    font-size: 100%;
    cursor: pointer;
    background-color: #33CCCC;
    color:white;
    border-radius: 7px;
    border: none;
}

.header_header_right{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 15px;
    color: white;
}

#header_header_right_items_with_icons{
    flex-direction: column;
    text-align: center;
    text-decoration-line: none;
    color: white;
}

#header_header_right_items_with_icons:hover{
    cursor: pointer;
    transition: 0.3s;
    filter: brightness(70%) contrast(60%);
}

@media (max-width: 1400px) {
    .header_header {
        width: 100vw;
    }
    .header_header_left{
        width: 35vw;
    }
    .header_header_right{
        width: 35vw;
    }
    .header_search_form{
        width: 35vw;
    }
}

@media (max-width: 1100px) {
    .header_header {
        width: 100vw;
    }
    .header_header_left{
        width: 33vw;
    }
    .header_header_right{
        width: 33vw;
    }
    .header_search_form{
        width: 33vw;
    }
}

@media (max-width: 1015px) {
    .header_header {
        width: 100vw;
    }
    .header_header_left{
        width: 33vw;
    }
    .header_header_left_marketplace_name{
        width: 80vw;
    }
    #header_header_left_catalog{
        margin-left: 5px;
        margin-right: 40px;
    }
    .header_header_right{
        width: 33vw;
    }
    .header_header_right{
        margin-left: 15px;
        margin-right: 5px;
    }
    .header_search_form{
        width: 33vw;
    }
}

@media (max-width: 941px) {
    .header_header {
        width: 100vw;
    }
    .header_search_form{
        width: 100vw;
    }
}

@media (max-width: 821px) {
    .header_header {
        width: 100vw;
    }
    .header_header_left{
        display: none;
    }
    .header_search_form{
        width: 90vw;
    }
    .header_header_right{
        display: none;
    }
}