.main_page{
    display: inline-table;
    box-sizing: border-box;
    max-width: 1400px;
    position: fixed;
    top: 400px;
}

.main_main_paragraph{
    height: 10px;
}

.main_main_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_main_prod_list{
    display: flex;
    width: 1400px;
    height: 1500px;
    justify-content: space-between;
}

#main_main_prod{
    display: table;
    justify-content: center;
    width: 165px;
    height: 165px;
}

#main_main_prod_description{
    display: flex;
    justify-content: center; 
}