.main_page{
    display: inline-table;
    box-sizing: border-box;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
}

.main_main_paragraph{
    height: 10px;
}

.main_main_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_main_prod_list{
    display: flex;
}

#main_main_prod{
    display: flex;
    justify-content: center;
    width: 165px;
    height: 165px;
}

#main_main_prod_description{
    display: flex;
    justify-content: center; 
}