.register_reg_button{       
    
    width: 80%; 
    padding: 10px; 
    background-color: #0357b1; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    
    
}
.register_form_container{  /* вся форма регистрации*/
    width: 350px; 
    border: 1px solid #ccc; /* Обводка формы */
    padding: 25px; 
    border-radius: 5px; 
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); /* Тень вокруг формы */
    text-align: center;
}

.register_reg_form{
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
}
.register_header_label{
    display: block; /* Размещение метки на новой строке */
    margin-bottom: 13px; 
    font-size: 22px;
    font-weight: 1000;
    text-align: center;
}

.phoneInput {   
    width: 100% !important;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #0357b1 !important;
  }
  
 .phoneButton{
    border: 1px solid #0357b1 !important;
 }

  .form_description{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .5  px;
    margin-bottom:20px;  
  }
  .register_rule_text{
  font-size: 14px;
  font-weight: 200;
  }
  .register_form_group{
    margin-bottom: 20px;
  }