.register_button{
    margin-top: 25px;
    width: 100%; /* Ширина кнопки на всю ширину формы */
    padding: 10px; /* Внутренний отступ кнопки */
    background-color: #007bff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Убираем рамку у кнопки */
    border-radius: 4px; /* Закругление углов кнопки */
    cursor: pointer; /* Курсор указывает на возможность взаимодействия */
}
.form_container{
    width: 300px; /* Ширина формы */
    border: 1px solid #ccc; /* Обводка формы */
    padding: 20px; /* Внутренний отступ формы */
    border-radius: 5px; /* Закругление углов рамки */
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); /* Тень вокруг формы */
}
.form_group{
    margin-bottom: 15px;
    width: 100%; /* Ширина поля ввода на всю ширину формы */
    padding: 8px; /* Внутренний отступ поля ввода */
    font-size: 14px; /* Размер шрифта */
    border: 1px solid #ccc; /* Рамка поля ввода */
    border-radius: 4px; /* Закругление углов поля ввода */
}
.register_form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
label{
    display: block; /* Размещение метки на новой строке */
    margin-bottom: 5px; /* Отступ между меткой и полем ввода */
}